@font-face {
    font-family: 'Aeonik';
    src: url('/Fonts/AeonikTRIAL-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/Fonts/AeonikTRIAL-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/Fonts/AeonikTRIAL-Light.otf') format('opentype');
    font-weight: 300; /* Example weight for 'light'. Adjust as needed. */
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/Fonts/AeonikTRIAL-RegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/Fonts/AeonikTRIAL-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/Fonts/AeonikTRIAL-LightItalic.otf') format('opentype');
    font-weight: 300; /* Example weight for 'light italic'. Adjust as needed. */
    font-style: italic;
}

body {
    font-family: Aeonik;
    background-color: #130f0b;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.5; 
}

.content-section {
    max-width: 750px;  /* set a specific width that's similar to your screenshot */
    width: 80%;  /* ensure it takes up 80% of the viewport if it's narrower than 600px */
    margin: 2rem auto;  /* centering horizontally */
    background-color: #130f0b;
    padding: 1.5rem;
    border-radius: 5px;
    text-align: left;
    display: flex;  /* new property */
    flex-direction: column;  /* new property */
    align-items: flex-start;
}

h1 {
    font-size: 2em;
    margin-bottom: 1rem;
    text-align: left;
}

h2 {
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.5em;
    text-align: left;
}

p, ul {
    margin-bottom: 1rem;
    text-align: left;
}

.last-updated {
    font-size: 0.8em;
    margin-bottom: 1rem;
}

.content-section p, 
.content-section ul,
.content-section li {
    text-align: left;
}

.content-section ul,
.content-section li {
    margin-top: 10px;
}

.content-section h1, 
.content-section h2, 
.content-section p, 
.content-section ul, 
.content-section li {
    text-align: left;
}

a[href^="mailto:"] {
    color: #fff; /* sets the link color to white */
    text-decoration: none; /* removes underline */
}

a[href^="mailto:"]:visited {
    color: #fff; /* sets the visited link color to white */
}
